// fonts
$font-light  : "Sunset-Gothic-Pro-light";
$font-regular : "Sunset-Gothic-Pro-regular";
$font-semibold : "Sunset-Gothic-Pro-semibold";
$font-bold : "Sunset-Gothic-Pro-bold";
$font-italic : "Sunset-Gothic-Pro-italic";
$font-default : "Sunset-Gothic-Pro-regular", Arial, Helvetica, sans-serif;


//Colors
$black : #000;
$white : #fff;
$primaryGreen : #5eae53;
$lightGreen : #afd3aa;
$lightOrange : #f6b76c;
$darkOrange : #f49b3f;
$pink : #eb8e78;
$darkGrey : #333;
$midGrey : #999;
$lightGrey : #f6f6f6;


