// fonts
$font-light  : "Sunset-Gothic-Pro-light";
$font-regular : "Sunset-Gothic-Pro-regular";
$font-semibold : "Sunset-Gothic-Pro-semibold";
$font-bold : "Sunset-Gothic-Pro-bold";
$font-italic : "Sunset-Gothic-Pro-italic";
$font-default : "Sunset-Gothic-Pro-regular", Arial, Helvetica, sans-serif;


//Colors
$black : #000;
$white : #fff;
$green : #3d9b6d;
$darkGreen : #0f8a65;
$primaryGreen : #5eae53;
$lightGreen : #afd3aa;
$lightOrange : #f6b76c;
$darkOrange : #f49b3f;
$pink : #eb8e78;
$red : #e43b4f;
$lightRed :#fae8e3;
$darkRed: #db6742;
$darkGrey : #333;
$midGrey : #999;
$blueGrey : #eef0f4;
$lightGrey : #f6f6f6;
$darkBlue : #3d4152;


