@import "../../assets/scss/variable.scss";

.restaurant-menu-wrapper {
  padding-top: 90px;

  .container {
    max-width: 800px;
  }

  .restaurant-name-section {
    margin: 2rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .restaurant-name {
      font-family: $font-bold;
      color: $darkGrey;
      font-size: 1.4rem;
      text-transform: capitalize;
      margin-bottom: 0.8rem;
    }
  }

  .restaurant-details-section {
    background: linear-gradient(
      rgb(255, 255, 255) -6.71%,
      rgb(235, 235, 242) 56.19%,
      rgb(223, 223, 231) 106.56%
    );
    padding: 0px 16px 16px;
    border-bottom-left-radius: 36px;
    border-bottom-right-radius: 36px;

    .restaurant-name-details {
      border-radius: 20px;
      border: 1px solid rgba(2, 6, 12, 0.15);
      background: white;
      box-shadow: rgba(0, 0, 0, 0.04) 0px 8px 16px 0px;
      color: $darkGrey;

      .restaurant-name-box {
        padding: 1rem 1rem 0.75rem;

        .cuisines {
          font-size: 0.85rem;
          margin-bottom: 0.7rem;
          color: $darkOrange;
          text-decoration: underline;
        }

        p {
          font-size: 0.9rem;
          margin-bottom: 0.3rem;
          line-height: 1;
        }

        .address-box {
          display: flex;
          align-items: center;
          padding: 0.4rem 0;

          .address-design {
            display: flex;
            align-items: center;
            flex-direction: column;
          }

          .circle {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background: $midGrey;
          }

          .line {
            width: 1px;
            height: 23px;
            background: $midGrey;
          }

          .address-details {
            padding-left: 1rem;
            display: flex;
            flex-direction: column;
            width: 100%;
            font-family: $font-light;
            font-size: 0.85rem;

            .row {
              display: flex;
              width: 100%;
              line-height: 1.6;

              & + .row {
                margin-top: 0.625rem;
              }
            }

            .bold {
              font-family: $font-regular;
              & + span {
                margin-left: 0.7rem;
              }
            }
          }
        }
      }

      .restaurant-distance-details {
        padding: 0.75rem 1rem 1rem;
        line-height: 1;
        border-top: 1px solid $blueGrey;
        font-family: $font-light;
        font-size: 0.85rem;

        .note {
          display: flex;
          align-items: center;

          img {
            width: 20px;
            height: 20px;
            margin-right: 0.5rem;
          }
        }
      }

      .rating-section {
        display: flex;
        align-items: center;
        margin-right: 5px;

        .star {
          display: flex;
          align-items: center;
          margin-bottom: 0.5rem;

          .icon {
            color: $darkGreen;
            font-size: 1.3rem;
            margin-right: 3px;
          }
        }

        .dot {
          display: flex;
          align-items: center;
          margin-bottom: 0.5rem;

          .icon {
            color: $midGrey;
            margin-right: 3px;
          }
        }
      }
    }
  }

  .restaurant-menu-heading-section {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    h4 {
        margin: 0 1rem;
        text-align: center;
    }
  }

  .restaurant-menu-section {
    .heading {
      font-size: 1.1rem;
      margin: 2rem 0;

      @media (max-width: 768px) {
        font-size: 0.9rem;
      }

      span {
        font-family: $font-light;
        font-size: 1rem;

        @media (max-width: 768px) {
          font-size: 0.8rem;
        }
      }
    }

    .menu-card {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      padding-bottom: 2rem;
      margin-bottom: 2rem;
      border-bottom: 1px solid $midGrey;

      .menu-card-details {
        font-family: $font-light;

        h3 {
          font-size: 1rem;
          margin-bottom: 0.5rem;
        }

        .rupees {
          font-size: 0.9rem;
          line-height: 1;
          margin-bottom: 0.8rem;

          .icon {
            font-size: 0.7rem;
          }

          .note {
            margin-left: 0.5rem;
            background-color: $lightRed;
            border-left: 1px solid $darkRed;
            padding: 2px 5px 2px 4px;
            color: $darkRed;
            font-size: 0.7rem;
            line-height: 1.2;

            @media (max-width: 768px) {
              font-size: 0.5rem;
            }

            strong {
              font-family: $font-regular;
            }
          }
        }

        .description {
          font-size: 0.8rem;
          line-height: 1.5;
          color: $midGrey;

          @media (max-width: 768px) {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
        }
      }

      .menu-card-icons {
        font-family: $font-regular;
        display: flex;
        align-items: center;
        gap: 0.3rem;
        margin-bottom: 0.4rem;

        .veg {
          color: $darkGreen;
          font-size: 1.1rem;
          height: 18px;
        }

        .non-veg {
          color: $red;
          font-size: 1.1rem;
          height: 18px;
        }

        .best {
          color: $darkOrange;
          font-size: 0.8rem;
          display: flex;
          align-items: flex-end;

          .icon {
            font-size: 0.9rem;
            margin-right: 0.1rem;
          }
        }
      }

      .menu-card-img {
        min-height: 40px;
        position: relative;
        height: 120px;
        width: 118px;

        @media (max-width: 768px) {
          min-width: 140px;
          height: 140px;
        }

        img {
          width: 118px;
          height: 96px;
          -o-object-fit: cover;
          object-fit: cover;
          border-radius: 6px;
          position: relative;

          @media (max-width: 768px) {
            width: 100%;
            height: 120px;
          }

          &::after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(40, 44, 63, 0.05);
            background-blend-mode: overlay;
            height: 96px;
            border-radius: 6px;
          }
        }

        &::after {
          position: absolute;
          content: "";
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(40, 44, 63, 0.05);
          background-blend-mode: overlay;
          height: 96px;
          border-radius: 6px;
        }

        .btn-counter {
          z-index: 1;
          cursor: pointer;
          font-size: 0.9rem;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 8px;
          background-color: $white;
          color: $green;
          box-shadow: 0 3px 8px #e9e9eb;
          border-radius: 4px;
          border: none;
          max-width: 96px;
          width: 100%;
          padding: 0.6rem;

          &:hover {
            box-shadow: 0 2px 8px #d4d5d9;
          }

          .counter {
            &.hide {
              display: none;
            }
          }
        }
      }
    }
  }
}
