@import '../../assets/scss/variable.scss';


.restaurant-card {
    transition: all 0.1s ease-in 0s;

    &:hover {
        transform: scale(0.95, 0.95);
        transform-origin: center center;
        transition: all 0.1s ease-in 0s;
    }
    
    cursor: pointer;

    .img-wrapper {
        border-radius: 1rem;
        overflow: hidden;
        filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px 2px 8px);
        position: relative;

        img {
            width: 100%;
            height: 180px;
            object-fit: cover;

            @media (max-width: 768px) { 
                height: 210px;
            }
        }

        .offer-title {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0.75rem;
            background: linear-gradient(rgba(27, 30, 36, 0) 0%, rgb(27, 30, 36) 84.21%);
            color: $white;
            font-family: $font-bold;
            font-size: 1.2rem;
        }

        .stars {
            position: absolute;
            right: 0.75rem;
            top: 0.75rem;
            padding: 0.25rem 0.35rem;
            background-color: $primaryGreen;
            color: $white;
            border-radius: 0.25rem;
            font-size: 0.75rem;
            font-family: $font-light;

            .icon {
                margin-right: 2px;
            }
        }
    }

    .details {
        padding: 0.75rem;
        line-height: 1.3;
    }

    .name {
        font-family: $font-bold;
        font-size: 1rem;
        
    }

    .times {
        display: flex;
        align-items: center;
        
        .icon {
            margin-right: 2px;
        }
    }

    .keys {
        font-family: $font-light;
        color: $midGrey;
        white-space: break-spaces;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .address {
        font-family: $font-light;
        color: $midGrey;
    }

}