@import '../../assets/scss/variable.scss';

.searchbox-wrapper {
    background-color: $white;
    border-radius: 10px;
    width: 100%;
    max-width: 460px;
    display: flex;
    justify-content: space-between;
    padding: 2px;

    .searchbox {
        color: $darkGrey;
        padding: 0.8rem;
        font-size: 1rem;
        font-family: $font-regular;
        border: none;
        width: 100%;
        border-radius: 10px;
    }
}
