@import '../../assets/scss/variable.scss';

.category-card {
    background-color: $lightGrey;
    border-radius: 20px;
    padding: 2rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease-in 0s;

    &:hover, &.active {
        background-color: $darkOrange;
        color:$white;
        transform : scale(1.04,1.04);
        transform-origin: center center;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;

        .category-number {
            background-color: $primaryGreen;
        }

        .price {
            color: $white;
        }
    }

    .icon-wrapper {
        border-radius: 100%;
        padding: 2rem;
        background-color: $white;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.5rem;

        @media (max-width: 768px) { 
            padding: 1rem;
        }

        .icon {
            font-size: 40px;
            color: $darkGrey;
        }
    }

    .category-number {
        z-index: 1;
        position: absolute;
        top: 0px;
        right: 0;
        font-size: 1rem;
        font-family: $font-light;
        padding: 0.5rem;
        border-radius: 100%;
        background-color: $lightGreen;
        color: $white;
        transition: all 0.2s ease-in-out;
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) { 
            width: 30px;
            height: 30px;
            font-size: 0.8rem;
        }
    }

    img {
        clip-path: inset(0% 0% 10% 0%);
        width: 80px;
        height: 80px;
        object-fit: cover;
        object-position: top;
    }

    .name {
        font-size: 20px;
        font-family: $font-light;
        margin-bottom: 0.6rem;
    }

    .price {
        font-size: 12px;
        font-family: $font-light;
        color: $midGrey;
        transition: all 0.2s ease-in-out;
    }
}