@import '../../assets/scss/variable.scss';


.about-wrapper {
    margin-top: 3rem;
    padding-top: 90;
    .info {
        font-family: $font-light;
        text-align: center;
        font-size: 1.3rem;
        line-height: 1.5;
        margin-bottom: 3rem;

        strong {
            font-family: $font-bold;
        }
    }

    .heading-wrapper {
        text-align: center;
    }

    .details {
        background-color: $lightGrey;
        padding: 2rem;
        border-radius: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4rem;

        @media (max-width: 768px) { 
            flex-direction: column;
        }


        .details-col {
            max-width: 50%;
            @media (max-width: 768px) { 
                max-width: 100%;
            }
        }
        

        p {
            font-size: 1.2rem;
            line-height: 1.5;
            font-family: $font-light;
            margin-bottom: 1rem;

            @media (max-width: 768px) { 
                font-size: 1rem;
             }
        }

        img {
            width: 40%;
            @media (max-width: 768px) { 
               width: 100%;
            }
        }
    }
}